* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

* .container {
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
}

* .section-title {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

@media screen and (max-width: 767px) {
  * .section-title {
    font-size: 28px;
  }
}

* .btn-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  width: 160px;
  line-height: 36px;
  font-size: 12px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.3s ease 0s;
}

* .btn-link:hover {
  background-color: #E73033;
  color: #ffffff;
}
