footer{
    background-color: #525252;

    .copyright{
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        line-height: 60px;
    }
}