@import "common";
@import "header";
@import "footer";

// レイアウト幅
$layout-width-inner:1110px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {

    @media #{map-get($breakpoints, $breakpoint)} {
  
      @content;
    }
}

// hero
.hero{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        background-image: url(../image/contact-hero-bg.png);
        background-size: cover;
        width: 1100px;
        height: 387px;
    }

    &::after{
        position: absolute;
        content: "";
        z-index: -2;
        top: 0;
        right: 0;
        background-color: #222222;
        width: 780px;
        height: 464px;
    }

    .bg{
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        width: 1100px;
        height: 387px;
    }

    .container{
        padding-top: 155px;
        padding-bottom: 192px;

        .hero-content{
            width: 396px;
            margin-left: auto;
            color: #ffffff;

            .section-title{
                font-size: 72px;
            }

            .hero-text{
                font-family: "Noto Sans JP";
                font-size: 20px;
            }
        }
    }

    @include mq('tab'){

        &::before{
            width: 578px;
            height: 529px;
            background-position:center;
        }

        &::after{
            width: 406px;
            height: 615px;
        }

        .bg{
            width: 578px;
            height: 529px;
        }

        .container{
            padding-top: 132px;
            padding-bottom: 366px;
         
            .hero-content{
                width: 286px;
                margin-left: 432px;

                .section-title{
                    font-size: 52px;
                }
            }
           
        }
    }

    @include mq('sp'){

        &::before{
            width: 287px;
            height: 270px;
        }

        &::after{
            width: 198px;
            height: 365px;
        }

        .bg{
            width: 287px;
            height: 270px;
        }

        .container{
            padding-top: 129px;
            padding-bottom: 145px;

            .hero-content{
                margin-left: 68px;
                text-align: right;
            }
        }
    }

    
}
// hero

.contact{

    .container{
        width: 700px;
        padding: 120px 0;

        .announce{
            font-family: "Noto Sans JP";
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 55px;
        }

        form{

            table{
                width: 100%;

                tr{
                    margin-bottom: 45px;
                    display: block;

                    &:last-child{
                        margin-bottom: 0;
                        text-align: center;
                    }

                    td{
                         display: block;    

                       .label{
                           font-size: 16px;
                           font-family: "Noto Sans JP";
                           display: inline-block;
                           margin-bottom: 10px;
                          
                           .required{
                               display: inline-block;
                               background-color: #222222;
                               width: 34px;
                               text-align: center;
                               color: #ffffff;
                               font-size: 12px;
                               margin-left: 10px;
                           }  
                       }
                       
                       .text-box, .textarea, .privacy-text{
                            width: 100%;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            border: 1px solid #333333;
                            box-sizing: border-box;
                       }

                       .text-box{
                           height: 41px;
                           padding-left: 10px;
                           font-size: 20px;
                       }

                       .textarea{
                           padding: 10px;
                           font-size: 20px;
                           height: 212px;
                       }

                        //個人情報の部分のレイアウト    

                       .privacy-policy{
                            font-size: 16px;
                            font-weight: 800;
                            font-family: "Montserrat";
                       }

                       .privacy-text{
                           height: 252px;
                           overflow-y: scroll;
                           padding: 10px;
                       }

                        // 送信ボタン   
                       .submit{
                          width: 160px;
                          background-color: #000000;
                          color: #ffffff;
                          font-family:"Montserrat" ;
                          font-size: 14px;
                          border: none;
                          line-height: 32px;
                       }
                    }     

                   //問い合わせのチェックボックスのレイアウトの変更
                    .radio-row{
                        padding-left: 15px;

                        .radio-btn{
                            margin-bottom: 0;
                            margin-right: 50px;
                        }
                    } 

                   .radio-test {
                    display: none;
                  }
                  
                  .radio-test + span {
                    cursor: pointer;
                    display: inline-block;
                    padding-left: 35px;
                    position: relative;
                  }
                  
                  .radio-test + span::before {
                    -webkit-transform: translateY(-50%);
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.16);
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 16px;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                  }
                  
                  .radio-test + span::after {
                    -webkit-transform: translateY(-50%);
                    background:#333333 ;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    content: "";
                    height: 4px;
                    left: 4px;
                    opacity: 0;
                    padding: 2px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.3s ease 0s;
                    width: 4px;
                  }
                  
                  .radio-test:checked + span::after {
                    opacity: 1;
                  }

                    .check-row{
                        text-align: center;
                        font-size: 16px;
                       font-family: "Noto Sans JP";
                        position: relative;             
                    }

                    .check-btn{
                        width: 20px;
                        height: 20px;
                       position: absolute;
                       left: 125px;
                       top: 3px;
                    }

                    .check-text{
                        margin-left: 10px;
                        display: inline-block;
                    }


                    

        
                }//tr

            }//table

        }//form
    }//container

    @include mq('tab'){
        .container{
            padding-top: 135px;
            padding-bottom: 197px;
            width: 668px;

            .announce{
                margin-bottom: 21px;
            }

            form{

                table{

                    tr{
                        margin-bottom: 40px;

                        td{

                            .text-box{
                                height: 46px;
                            }

                            .textarea{
                                height: 180px;
                            }
                        }

                        .check-text{
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }

    @include mq('sp'){

        .container{
            padding: 80px 0;
            width: 345px;

            .announce{
                font-size: 14px;
                margin-bottom: 50px;
            }

            form{

                table{

                    tr{
                        margin-bottom: 43px;

                        td{

                            .text-box{
                                height: 48px;
                            }

                            .submit{
                                line-height: 36px;
                            }
                        }

                        .radio-row{
                            .radio-btn{
                                display: block;
                                margin-right: 0;
                                margin-bottom: 15px;
                            }
                        }

                        .check-row{
                            text-align: left;

                            .check-btn{
                                left: 2px;
                            }

                            .check-text{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}